# Folder wirtualnego środowiska
.venv/

# Pliki cache Pythona
__pycache__/
*.pyc
.pytest_cache/

# Modele Machine Learning
*.keras
*.h5
*.tflite
*.bin
saved_model*/
tfjs_model/

# Data bases
*.db

# Zdjęcia wgrane przez użytkowników
uploads/
